* {overflow: auto;}

body {background-color: #88A1BB;
    font-family: Arial;
    margin: 0;}
    p.categorie {
        background-color: black;
        color: white; 
        display: block;
        
    }
    p.description {text-align: center; max-width: 400px;display: inline-block; font-size: 14px;}
    .centre {text-align: center; width: 100%;margin-left: 0px;}
    div.contenu {background-color: white;
    margin: 80px;px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    box-shadow:1px 1px 10px 2px;
    overflow: visible;
    }    

    h1 {text-align: center; margin-bottom: 12px;margin-top: 10px;}
    p.categorie {text-align: center; max-width: 400px;display: inline-block;padding: 8px 18px;margin-bottom: 20px; margin-top:-15px; ;font-weight: bold;font-size: 16px;}
    div.categorie {margin-bottom: 0px;margin-top: 0px;overflow: visible;}
    div.separateur {height: 1px;width: 150px; background-color: black ;margin-left: auto;margin-right: auto;}  
    div.info{position: relative;}
    table.info {
        width: 100%; 
        position: absolute; 
        bottom: 0;
        color: white; 
        background-color: #6C829DC0;
        height:90px;
    }
    table.info td {text-align: center;
        font-size: 14px;
        vertical-align:top;
    }
    table.info th {
        font-size: 16px;
        vertical-align:bottom;
        padding-bottom: 6px;
        
    }
    img.info {
        display:block;
        max-height: 400px;
        object-fit:cover;
        min-height: 200px;
        background-color: #88A1BB;

    }

    div.colonne {width: 45%; margin-top: 20px;}
    div.colonne h2 {text-align: center; text-transform: uppercase;
    font-size: 15px; border-bottom: 4px solid #6C829D;padding-bottom: 5px;}

    div.colonne1 {display: inline-block; max-width:50%; margin-right: 10%;}
    div.colonne2 {float: right;}
    div.colonne1 p {text-align: center;font-size:14px; border: 1px solid #6C829D; display: block;margin-top:0;margin-bottom: 5px;padding-top: 5px;padding-bottom: 5px;}
    table.prep p.numero{
        background-color: #88A1BB;
        color:white;
        text-align: center;
        width: 25px;
        height: 25px;
        padding-top: 4px;
        box-sizing: border-box;
        font-weight: bold;
        border-radius: 50%;
        margin: 0;
        font-size: 14px;
    }
    table.prep tr {vertical-align: top; height: 40px;}
    table.prep td.prep_etap {font-size: 14 px; padding-left: 10px; padding-bottom: 10px;}
    
